body {
    text-align: center;
}

.modal_bg {
  position: relative;
  width: 400px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  transform: translate(-50%, -70%);
}

.modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  border-bottom: 1px solid gray;
}

.modal-button {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  width: 60px;
  height: 30px;
}